@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding-top: env(safe-area-inset-top, 0px);
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

body {
  font-family: 'Inter', sans-serif;
}

.font-serif {
  font-family: 'Newsreader', serif;
}
